$mobile-width: 768px;
$tablet-width: 1024px;
$primaryColor: #0e6cff;
$primaryColorShadow: rgba(100, 148, 237, 0.2);
$btnColor: #ff8700;
$textColor1: white;
$textColor2: #212529;
$textColor3: #6c757d;
$fontSizeM: 16px;
$fontSizeS: 14px;
$fontSizeXS: 12px;
$maxWidthM: 1140px;
$maxWidthS: 720px;
$maxWidthXS: 540px;
$backgroundColor1: #f8f9fa;
$bodyPaddingItem: 80px 0;
$scrollMarginTop: 40px;
$textLineHeight: 2;
$transition: all 0.6s ease;
